@import url('https://fonts.googleapis.com/css?family=Poppins');
.body {
    font-family: Poppins-Light;
    font-size: 24px;
  }
.header{
      font-family: Poppins-Bold;
      font-size: 92px;
      color: #07314D;

  }
.icons{
    width: 40px;
    height: 40px;
    padding: 6px;
    vertical-align: center;
}
.nav-link{
    color: black;
    font-family: Poppins;
    font-size: 20px;
    line-height: 95px;
    word-spacing: 2px;
    vertical-align: center;
}
.nav{
    height: 120px;
}
.btn{
    background: #064061;
    border-radius: 16px;
    color:white;
    margin-left: 70px;
}
.card-text{
    margin-left: 70px;
    margin-right: 70px;
}
.display-4{
    margin-left: 70px;
    font-family: Poppins;
    font-size: 54px;
    color: #07314D;

}
.display-36{
    margin-left: 100px;
    font-family: Poppins;
    font-size: 36px;
    color: #07314D;
   

}
.container{
    width: 100%;
}
.center-container {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.whitebox{
    width: 80%;
    background-color: white;
    height: 400px;
    align-items: center;
    justify-content: center; 

}
.bgImgCenter{
    width: 100%;
    height: 600px;
    background-image: url('../images/emailpicture.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.heroHoverImage{
    width: 100%;
    height: 500px;
    background-image: url('../images/homepage1.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.heroHoverImage:hover{
    background-image: url('../images/homepage2.jpg');
}
.footer{
    width:100%;
    background-color: #07314D;
    height: 225px;
}
.footer .nav-link{
    color: white;

}
.card-img-top{
    
}
.line{
    margin-left: 30px;
}